$mainColor: red;
$bgColor: #fff;
$mainFont: rgb(78, 78, 78);
$borderColor: rgb(224, 224, 224);

$accentColor: rgb(151, 58, 73);

$darkLink: #1e7597;
$darkLinkHover: rgb(143, 143, 143);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  background: $bgColor;
  color: $mainFont;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
}

.left-bar {
  border-right: solid 1px $borderColor;
}

.active {
  color: $accentColor !important;
  font-weight: 700;
  margin: 15px;
}

.menu {
  ul {
    list-style-position: inside;
    list-style-type: none;
  }

  a {
    color: #7bbaab;

    &:hover {
      color: rgb(143, 143, 143);
    }
  }

  li {
    font-size: 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 15px 0px;
  }
}

.main-center {
  background: #fff;
}

.right-bar {
  border-left: solid 1px $borderColor;
}

.full-height {
  height: 100vh;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.App {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .App {
    width: 100%;
  }

  [class*="col-"] {
    width: 100%;
  }

  .full-height {
    height: auto;
  }

  input {
    width: 100% !important;
  }
}

.usermenus {
  padding: 15px 0 0 15px;

  .usermenus-welcome {
    font-size: 13px;
  }

  .usermenus-div {
    background: $borderColor;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .usermenus-name {
    font-weight: 600;
  }

  .usermenus-user-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: right;
    border: 2px solid #fff;
  }

  .usermenus-ul {
    list-style-type: none;
    list-style-position: inside;
    .usermenus-li {
      a {
        color: $darkLink;

        &:hover {
          color: $darkLinkHover;
        }
      }
    }
  }

  .usermenus-footer {
    a {
      color: $darkLink;
      &:hover {
        color: $darkLinkHover;
      }
    }
  }
}

input[type="text"] {
  margin-bottom: 20px;
  font-size: 18px;
  padding: 8px;
  border: solid 1px #c8c8c8;
  border-radius: 5px;

  &:focus {
    outline: none;
  }
}

input[type="password"] {
  margin-bottom: 20px;
  font-size: 18px;
  padding: 8px;
  border: solid 1px #c8c8c8;
  border-radius: 5px;

  &:focus {
    outline: none;
  }
}

input[type="date"] {
  margin-bottom: 20px;
  font-size: 18px;
  padding: 7px;
  border: solid 1px #c8c8c8;
  border-radius: 5px;

  &:focus {
    outline: none;
  }
}

select {
  margin-bottom: 20px;
  font-size: 18px;
  padding: 8px;
  border: solid 1px #c8c8c8;
  border-radius: 5px;

  &:focus {
    outline: none;
  }
}

.modal-title {
  font-size: 25px;
  font-weight: 600;
  color: $accentColor;
  text-transform: uppercase;
}

.new-client {
  .new-client-form-field {
    padding: 0px 5px 0px 0px;

    &:last-child {
      padding: 0;
    }

    input {
      margin-top: 5px;
    }

    select {
      margin-top: 5px;
    }
  }
}

label {
  font-size: 12px;
}
