$mainColor: red;
$bgColor: #fff;
$mainFont: rgb(78, 78, 78);
$borderColor: rgb(224, 224, 224);

$accentColor: rgb(151, 58, 73);

$darkLink: #1e7597;
$darkLinkHover: rgb(143, 143, 143);

$pageHeader: #a8a8a8;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  background: $bgColor;
  color: $mainFont;
}

a {
  color: $darkLink;

  &:hover {
    color: $darkLinkHover;
  }
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
}

.left-bar {
  border-right: solid 1px $borderColor;
}

.active {
  color: $accentColor !important;
  font-weight: 700;
  margin: 15px;
}

.menu {
  ul {
    list-style-position: inside;
    list-style-type: none;
  }

  li {
    font-size: 20px;
    padding: 15px 0px;
  }
}

.main-center {
  background: #fff;
  max-height: 100vh;
  overflow: auto;
}

.right-bar {
  border-left: solid 1px $borderColor;
}

.full-height {
  height: 100vh;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.App {
  margin: auto;
}

@media screen and (max-width: 600px) {
  .App {
    width: 100%;
  }

  [class*="col-"] {
    width: 100%;
  }

  .full-height {
    height: auto;
  }

  input {
    width: 100% !important;
  }
}

.usermenus {
  padding: 15px 0 0 15px;

  .usermenus-welcome {
    font-size: 13px;
  }

  .usermenus-div {
    background: $borderColor;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .usermenus-name {
    font-weight: 600;
  }

  .usermenus-user-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: right;
    border: 2px solid #fff;
  }

  .usermenus-ul {
    list-style-type: none;
    list-style-position: inside;
    .usermenus-li {
      a {
        color: $darkLink;

        &:hover {
          color: $darkLinkHover;
        }
      }
    }
  }

  .usermenus-footer {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    a {
      color: $darkLink;
      &:hover {
        color: $darkLinkHover;
      }
    }
  }
}

.page-header {
  color: $pageHeader;
  font-size: 32px;
  font-weight: bold;
}

.page-desc {
  color: $pageHeader;
  font-size: 13px;
  font-style: italic;
}

.sec-header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

// input[type="text"] {
//   margin-bottom: 10px;
//   font-size: 13px;
//   padding: 8px;
//   border: solid 1px #c8c8c8;
//   border-radius: 5px;

//   &:focus {
//     outline: none;
//   }
// }

// input[type="email"] {
//   margin-bottom: 10px;
//   font-size: 13px;
//   padding: 8px;
//   border: solid 1px #c8c8c8;
//   border-radius: 5px;

//   &:focus {
//     outline: none;
//   }
// }


// input[type="date"] {
//   margin-bottom: 10px;
//   font-size: 13px;
//   padding: 7px;
//   border: solid 1px #c8c8c8;
//   border-radius: 5px;

//   &:focus {
//     outline: none;
//   }
// }

// input[type="time"] {
//   margin-bottom: 10px;
//   font-size: 13px;
//   padding: 7px;
//   border: solid 1px #c8c8c8;
//   border-radius: 5px;

//   &:focus {
//     outline: none;
//   }
// }

// input[type="file"] {
//   margin-bottom: 10px;
//   font-size: 13px;
//   padding: 7px;
//   border: solid 1px #c8c8c8;
//   border-radius: 5px;

//   &:focus {
//     outline: none;
//   }
// }

// select {
//   margin-bottom: 10px;
//   font-size: 13px;
//   padding: 8px;
//   border: solid 1px #c8c8c8;
//   border-radius: 5px;

//   &:focus {
//     outline: none;
//   }
// }

.primary-btn {
  color: #236883;
  font-weight: 600;
  background: #fff;
  border: 1px solid #236883;
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 5px;
  cursor: pointer;

  &:hover {
    color: #3298c0;
    border-color: #3298c0;
  }
}

.modal-title {
  font-size: 25px;
  font-weight: 600;
  color: $accentColor;
  text-transform: uppercase;
}

.new-client {
  .new-client-form-field {
    padding: 0px 5px 0px 0px;

    &:last-child {
      padding: 0;
    }

    input {
      margin-top: 5px;
    }

    select {
      margin-top: 5px;
    }
  }
}

.new-visit {
  .new-visit-form-field {
    padding: 0px 5px 0px 0px;

    &:last-child {
      padding: 0;
    }

    input {
      margin-top: 5px;
    }

    select {
      margin-top: 5px;
    }
  }
}

label {
  font-size: 12px;
}

.client-card {
  //   background: rgb(243, 243, 243);
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 10px;
  margin-bottom: 5px;

  .buttons-list {
    float: right;
  }

  .client-name {
    font-size: 20px;
    font-weight: bold;
    color: rgb(78, 78, 78);
  }

  .client-id {
    font-style: italic;
    font-size: 12px;
  }

  .view-button {
    margin-right: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    color: #fff;
    background: rgb(70, 70, 143);

    &:hover {
      background: rgb(71, 71, 71);
    }
  }

  .delete-button {
    margin-right: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    color: #fff;
    background: rgb(149, 37, 37);

    &:hover {
      background: rgb(71, 71, 71);
    }
  }

  .client-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

.view-client {
  .print-btn {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
  }
  .view-client-inner {
    padding: 10px 15px;
    border-bottom: 1px solid $borderColor;

    .records-card {
      padding: 10px 15px;
      background: $borderColor;
      border-radius: 5px;
      margin-bottom: 10px;
      .records-card-service {
        font-size: 20px;
        font-weight: 600;
      }
      .records-card-date-text {
        font-weight: 600;
      }
    }
    .client-form-field {
      padding: 5px;
    }
  }

  .records-section {
    margin: 10px 0;
  }

  .client-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  .client-info {
    margin-top: 20px;
    .client-edit:hover {
      opacity: 0.8;
      cursor: pointer;
    }
    .edit-btn {
      width: 50px;
      height: 50px;
      float: right;
      border: none;
      padding: 10px;
      border-radius: 50%;
      background: $darkLink;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        background: $darkLinkHover;
      }
    }
    .client-name {
      font-size: 25px;
      font-weight: 600;
      line-height: 25px;
      .client-id {
        font-size: 10px;
        background: red;
        color: #fff;
        padding: 3px;
        border-radius: 25%;
      }
    }
    .client-birthday {
      font-style: italic;
      font-size: 15px;
    }

    .client-main-card {
      background: rgb(228, 228, 228);
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;

      .client-main-card-inner {
        font-size: 20px;
        .card-header {
          .client-main-label {
            font-weight: 600;
          }
          .date-added {
            float: right;
            font-size: 13px;
          }
        }
      }
    }
  }
}

.reports {
  .reports-inner {
    padding: 10px 15px;

    .reports-btn {
      margin-top: 10px;
    }
  }

  .reports-list {
    margin-top: 10px;
    border-top: 1px solid $borderColor;

    .report-card {
      border-bottom: 1px solid $borderColor;
      padding: 10px;

      .report-card-client {
        font-weight: 700;
        font-size: 20px;
      }

      .report-card-service {
        font-size: 16px;
      }

      .report-card-btn {
        float: right;
      }

      .report-card-date {
        text-align: right;
      }
    }
  }
}

.view-records {
  .container {
    border-bottom: 1px solid $borderColor;
  }
  .record-header {
    padding: 10px 15px;
    .form-line {
      margin: 5px 0px;
      .form-label {
        font-weight: 600;
      }
    }
  }
}

.view-visit {
  padding: 0;

  .inner {
    padding: 10px;
  }

  .border-bottom {
    border-bottom: 1px solid rgb(233, 233, 233);
  }

  .client-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
    border: 10px solid #fff;
    box-shadow: 0px 3px 5px rgb(218, 231, 255);
  }

  .smaller {
    font-size: 12px;
    font-style: italic;
  }

  .text-end {
    text-align: right;
  }
}