.active {
  color: rgb(151, 58, 73) !important;
  font-weight: 700;
  margin: 15px;
}

.menu {
  ul {
    list-style-position: inside;
    list-style-type: none;
  }

  a {
    color: #7bbaab;

    &:hover {
      color: rgb(143, 143, 143);
    }
  }

  li {
    font-size: 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 15px 0px;
  }
}
