$pageHeader: #757575;

.home-not-logged-in {
  padding: 0;
  .inner-content {
    padding: 15px 20px;

    h1 {
      color: $pageHeader;
      font-size: 18px;
    }
  }

  .login-text-input {
    padding: 5px;
    margin: 10px 0;
    width: 50%;
  }

  .login-button {
    padding: 5px;
  }

  .divider {
    margin: 20px 0;
  }
}
