$logoColor: #62baab;
$logoColorHover: #ae211f;

a {
  text-decoration: none;
}

.logo {
  padding: 10px 0;
}

.logo-text {
  font-size: 25px;
  font-weight: 700;

  a {
    color: $logoColor;
    transition: ease-in-out 0.5s;
  }

  a:hover {
    color: $logoColorHover;
  }
}
