$pageHeader: #a8a8a8;
$buttonBg: #bc9b26;
$buttonBgHover: #62baab;

.clients {
  padding: 0;
}


.clients-inner {

  padding: 10px 15px;

  h1 {
    color: $pageHeader;
  }

  h2 {
    color: $pageHeader;
    font-style: italic;
    font-weight: 400;
    font-size: 1em;
  }

  .add-client {
    color: #fff;
    font-weight: 600;
    font-size: 0.8em;
    padding: 0.5rem;
    float: right;
    border: none;
    border-radius: 5px;
    background: $buttonBg;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    &:hover {
      background: $buttonBgHover;
    }
  }

  .divider {
    margin: 20px 0;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    display: block !important;
  }
}