@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, "Exo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .form-label-required {
    @apply mb-1 block after:content-['*'] after:ml-0.5 after:text-red-500 mr-4 text-sm uppercase font-bold;
  }

  .form-label {
    @apply mb-1 block mr-4 text-sm uppercase font-bold;
  }

  .form-input-text {
    @apply p-2 rounded-md border border-white focus:bg-white focus:border focus:border-gray-400 w-full bg-slate-200 outline-none;
  }

  .toggle-bg:after {
    content: "";
    @apply absolute top-0.5 left-0.5 bg-white border border-gray-300 rounded-full h-5 w-5 transition shadow-sm;
  }

  input:checked + .toggle-bg:after {
    transform: translateX(100%);
    @apply border-white;
  }

  input:checked + .toggle-bg {
    @apply bg-blue-600 border-blue-600;
  }

  .stat-box {
    @apply opacity-90 hover:opacity-100 rounded p-3 text-white shadow-lg mb-3 md:mb-0 hover:shadow-none transition-all ease-in-out;
  }

  .stat-title {
    @apply font-semibold uppercase;
  }
}
